@page
@model SumerBusinessSolution.EditModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@inject Services.CommonLocalizationService localizer

<br />
<h2 class="text-info">Create a new Service Type</h2>
<br />
<partial name="_StatusMessage" model="Model.StatusMessage" />
<form method="post">
    <div class="border backgroundWhite py-2 px-2">
        <input type="hidden" asp-for="Customer.Id" />
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Customer.CompanyName"></label>
            </div>
            <div class="col-5">
                <input asp-for="Customer.CompanyName" class="form-control" />
            </div>
            <span asp-validation-for="Customer.CompanyName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Customer.ContactName"></label>
            </div>
            <div class="col-5">
                <input asp-for="Customer.ContactName" class="form-control" />
            </div>
            <span asp-validation-for="Customer.ContactName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Customer.Address"></label>
            </div>
            <div class="col-5">
                <input asp-for="Customer.Address" class="form-control" />
            </div>
            <span asp-validation-for="Customer.Address" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Customer.PhoneNo"></label>
            </div>
            <div class="col-5">
                <input asp-for="Customer.PhoneNo" class="form-control" />
            </div>
            <span asp-validation-for="Customer.PhoneNo" class="text-danger"></span>
        </div>


        <div class="col-md-6">
            @*<input type="submit" class="btn btn-info form-control" value="حفظ" />*@
            <input asp-route-culture="@Request.RouteValues["culture"]" type="submit" class="btn btn-info form-control" value="@localizer.Get("حفظ")" />

        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

