@page
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div>
        <div id="fh5co-main">
           
            <div class="fh5co-narrow-content">
                <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Services/Functions</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                            <div class="fh5co-icon">
                                <a class="btn-group-sm" asp-area="Identity" asp-page="/Account/Register"><i class="icon-document-add"></i></a>
                            </div>
                            <div class="fh5co-text">
                                <h3>Add New User</h3>
                                <p>Here you can add a new User with his whole details</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                            <div class="fh5co-icon">
                                <a class="btn-group-sm" asp-page="/Users/Index"><i class="icon-user"></i></a>
                            </div>
                            <div class="fh5co-text">
                                <h3>Users Details</h3>
                                <p>Here you can see the whole details of the Users</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
           
        </div>
</div>
