@page
@model SumerBusinessSolution.Pages.Inventory.Reports.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="row" style="padding-left:200px;">
   
    <div class="column" style="padding-left:80px;">
        <a asp-page="/inventory/reports/ProdInWhQty">
            
            <img src="~/img/quantity.png" style="width:120px;height:120px;" />
            <p class="text-center">كمية المواد</p>
        </a>
    </div>

    <div class="column" style="padding-left:80px;">
        <a asp-page="/inventory/reports/WhProdQty">
            <img src="~/img/stock.png" style="width:120px;height:120px;" />
            <p class="text-center">المخازن</p>
        </a>
    </div>

    <div class="column" style="padding-left:80px;">
        <a asp-page="/inventory/reports/InvTransactions">
            <img src="~/img/lamp.png" style="width:120px;height:120px;" />
            <p class="text-center">العمليات تجارية</p>
        </a>
    </div>
</div>

