@page
@model SumerBusinessSolution.Pages.Products.InGoodModel
@{
    ViewData["Title"] = "InGood";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<form method="post">
    <div class="col-6">
        <input type="text" id="searchServices" asp-for="ProdCode"/>
        <input type="submit" class="btn btn-info form-control" value="Create" />
    </div>
</form>

@section Scripts {
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
         $(document).ready(function () {
    $('#searchServices').autocomplete({
    source: '@Url.Page("InGood", "SearchNow")'
    });
    });
    </script>

}

