@page
@model SumerBusinessSolution.Pages.Products.InGoodModel
@{
    ViewData["Title"] = "InGood";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
    <form method="post">
        <div class="col-6">
            <input type="submit" class="btn btn-info form-control" value="Create" />
        </div>
    </form>
    

