@using SumerBusinessSolution.Utility
@using Microsoft.AspNetCore.Localization
@using System.ComponentModel.DataAnnotations;
@*@inject IHtmlLocalizer<IndexModel> htmlLocalizer*@ @*for html lozcalization*@
@*@inject IStringLocalizer<IndexModel> localizer*@
@*First Method*@
@inject Services.CommonLocalizationService localizer
@*Second and the easier Method*@

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Banas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/css/LayoutStyle.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">BANAS</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/inventory/incominggoods/index">الواردة</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/inventory/transfer/index">التحويل</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/inventory/transferrequests/index">طلب التحويل</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/inventory/products/index">المواد</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/inventory/warehouses/index">المخازن</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/inventory/reports/index">التقارير</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/users/index">المستخدمين</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>*@


    <div class="wrapper">
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="sidebar">

            <a asp-page="/Index"> <h2>BANAS</h2></a>
            <ul>
                <li> <a class="nav-link  text-md-right text-dark" asp-area="" asp-page="/Index"> الرئيسية <i class="fas fa-home"></i></a></li>
                <li> <a class="nav-link  text-md-right text-dark" asp-area="" asp-page="/inventory/incominggoods/index"> المواد الواردة <i class="fas fa-truck-loading"></i></a></li>
                <li><a class="nav-link  text-md-right text-dark" asp-area="" asp-page="/inventory/transfer/index"> نقل المواد  <i class="fas fa-exchange-alt"></i></a></li>

                @if (User.IsInRole(SD.AdminUser))
                {
                    <li><a class="nav-link  text-md-right text-dark" asp-area="" asp-page="/inventory/transfer/create"> نقل جديد  <i class="fas fa-exchange-alt"></i></a></li>
                }

                <li> <a class="nav-link text-md-right text-dark" asp-area="" asp-page="/inventory/transferrequests/create"> طلب نقل جديد <i class="fas fa-exchange-alt"></i></a></li>

                <li><a class="nav-link  text-md-right text-dark" asp-area="" asp-page="/inventory/transferrequests/index"> طلبات النقل <i class="fas fa-exchange-alt"></i></a></li>
                <li> <a class="nav-link  text-md-right text-dark" asp-area="" asp-page="/Customers/Customers/index"> الزبائن<i class="fas fa-user"></i></a></li>
                @if (User.IsInRole(SD.BnasStoreUser))
                {
                    <li> <a class="nav-link  text-md-right text-dark" asp-area="" asp-page="/Sales/Billings/index"> الفواتير<i class="fas fa-file-invoice-dollar"></i></a></li>
                    <li> <a class="nav-link  text-md-right text-dark" asp-area="" asp-page="/Sales/Billings/Create"> فاتورة جديدة<i class="fas fa-file-invoice-dollar"></i></a></li>
                }
                else
                @if (User.IsInRole(SD.YaseenStoreUser))
                {
                    <li> <a class="nav-link  text-md-right text-dark" asp-area="" asp-page="/Sales/ExternalBillings/index"> الفواتير<i class="fas fa-file-invoice-dollar"></i></a></li>
                    <li> <a class="nav-link  text-md-right text-dark" asp-area="" asp-page="/Sales/ExternalBillings/Create"> فاتورة جديدة<i class="fas fa-file-invoice-dollar"></i></a></li>
                }
                else
                {
                    <li> <a class="nav-link  text-md-right text-dark" asp-area="" asp-page="/Sales/Billings/index"> فواتير البناس<i class="fas fa-file-invoice-dollar"></i></a></li>
                    <li> <a class="nav-link  text-md-right text-dark" asp-area="" asp-page="/Sales/ExternalBillings/index"> Chint فواتير <i class="fas fa-file-invoice-dollar"></i></a></li>


                }
                @*<li> <a class="nav-link  text-md-right  text-md-right text-dark" asp-area="" asp-page="/inventory/products/index"> المنتجات <i class="fas fa-boxes"></i></a></li>*@
                <li> <a class="nav-link  text-md-right text-dark" asp-area="" asp-page="/inventory/reports/productinquiry"> استعلام المواد<i class="fas fa-barcode"></i></a></li>

                <li> <a class="nav-link  text-md-right text-dark" asp-area="" asp-page="/Reports"> التقارير<i class="fas fa-file-alt"></i></a></li>

                <li> <a class="nav-link  text-md-right text-dark" asp-area="" asp-page="/settings"> الاعدادات <i class="fas fa-cogs"></i> </a></li>

                @*<li> <a class="nav-link  text-md-right text-dark" asp-area="" asp-page="/inventory/warehouses/index"> المخازن<i class="fas fa-warehouse"></i></a></li>
        <li> <a class="nav-link  text-md-right text-dark" asp-area="" asp-page="/users/index"> الاعضاء<i class="fas fa-users"></i> </a></li>*@


            </ul>
            @if (User.IsInRole(SD.SupervisorUser) || User.IsInRole(SD.BnasStoreUser) || User.IsInRole(SD.YaseenStoreUser) || User.IsInRole(SD.AdminUser))
            {
                <a href="../identity/account/Logout" class="btn btn-info form-control">@localizer.Get("تسجيل الخروج") <i class="fas fa-sign-out-alt"></i></a>
            }
            @*<div class="social_media">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>*@
        </div>



        <div class="container">

            <main role="main" class="pb-3">
                <div class="main_content">

                    @*Notification Bell, SignalR*@
                    @RenderBody()
                    @*<a href="#" class="float" onclick="history.back()">
                        <i class="fas fa-chevron-circle-left my-float"></i>
                    </a>*@

                    <div id="notification-content" style="display:none">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        From
                                    </th>
                                    <th>
                                        To
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="table-body">
                            </tbody>
                        </table>
                    </div>
                    @if (User.IsInRole(SD.AdminUser))
                    {
                        <a href="#" class="float" id="notification" style="margin-left:20px!important"
                           role="button"
                           data-html="true"
                           data-toggle="popover"
                           data-placement="bottom"
                           data-title="Transfer Requests">
                            <i class="fas fa-bell my-float"></i>
                        </a>
                    }
                </div>
            </main>

        </div>
    </div>
    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - SumerBusinessSolution - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/navbar.js" asp-append-version="true"></script>

    @if (User.IsInRole(SD.AdminUser))
    {
        <script>
            enableNotifications();
        </script>
    }
    @RenderSection("Scripts", required: false)
</body>
</html>

