<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SumerBusinessSolution</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/css/LayoutStyle.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">BANAS</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/inventory/incominggoods/index">الواردة</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/inventory/transfer/index">التحويل</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/inventory/transferrequests/index">طلب التحويل</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/inventory/products/index">المواد</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/inventory/warehouses/index">المخازن</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/inventory/reports/index">التقارير</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/users/index">المستخدمين</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>*@


    <div class="wrapper">
        <div class="sidebar">
            <h2>SUMER</h2>
            <ul>
                <li> <a class="nav-link text-dark" asp-area="" asp-page="/inventory/incominggoods/index"><i class="fas fa-home"></i>Incoming Goods</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-page="/inventory/transfer/index"><i class="fas fa-user"></i>Transfer</a></li>
                <li> <a class="nav-link text-dark" asp-area="" asp-page="/inventory/transferrequests/index"><i class="fas fa-address-card"></i>Transfer Request</a></li>
                <li> <a class="nav-link text-dark" asp-area="" asp-page="/inventory/products/index"><i class="fas fa-project-diagram"></i>Products</a></li>
                <li> <a class="nav-link text-dark" asp-area="" asp-page="/inventory/warehouses/index"><i class="fas fa-blog"></i>Warehouses</a></li>
                <li> <a class="nav-link text-dark" asp-area="" asp-page="/inventory/reports/index"><i class="fas fa-address-book"></i>Reports</a></li>
                <li> <a class="nav-link text-dark" asp-area="" asp-page="/users/index"><i class="fas fa-map-pin"></i>Users</a></li>
            </ul>
            @*<div class="social_media">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>*@
        </div>
       


        <div class="container">
            
            <main role="main" class="pb-3">
                <div class="main_content">

                    @RenderBody()
                </div>
            </main>

        </div>
    </div>
    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - SumerBusinessSolution - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>

