@page
@model SumerBusinessSolution.Pages.Inventory.IncomingGoods.CreateModel
@{
    ViewData["Title"] = "CreateIncomingGoods";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<partial name="_StatusMessage" model="Model.StatusMessage" />
<br />
<h2 class="text-info">Incoming Goods </h2>
<form method="post">
    <div class="border backgroundWhite" style="padding-left:5px;">


        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <br />
        @*<div class="form-group row">
                <div class="col-2">
                    <label asp-for="IncomingGood.ProdInfo.ProdName"></label>
                </div>
                <div class="col-5">
                    <input type="text" id="Product" />
                </div>
                <span asp-validation-for="IncomingGood.ProdInfo.ProdName" class="text-danger"></span>
            </div>*@


        <div class="form-group row">
            <div class="col-2">
                <label asp-for="IncomingGood.ProdInfo.ProdCode"></label>
            </div>
            <div class="col-5">
                <input type="text" id="ProdInfo" asp-for="ProdCode"/>
            </div>
            <span asp-validation-for="ProdCode" class="text-danger"></span> 
        </div>


        <div class="form-group row">
            <div class="col-2">
                <label asp-for="IncomingGood.Warehouse.WhName"></label>
            </div>

            <div class="col-5">
                <select asp-for="WhId"
                        asp-items="@(new SelectList(Model.WarehouseList, "Id", "WhName"))"
                        class="form-control">
                </select>
            </div>


            <span asp-validation-for="IncomingGood.Warehouse.WhName" class="text-danger"></span>
        </div>


        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Qty"></label>
            </div>
            <div class="col-5">
                <input asp-for="Qty" id="qty" class="form-control" />
                <span asp-validation-for="Qty" class="text-danger"></span>

            </div>
 
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Note"></label>
            </div>
            <div class="col-5">
                <textarea placeholder="Any notes....." asp-for="Note" class="form-control"></textarea>
            </div>
            <span asp-validation-for="Note" class="text-danger"></span>
        </div>


        <div class="row">
            <div class="col-7">
                <button type="submit" class="btn btn-info"  onclick="return ValidateInput()">SAVE</button>
                @*<button class="btn btn-success form-control" onclick="return ValidateInput()">Service Completed</button>*@

            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
         $(document).ready(function () {
    $('#ProdInfo').autocomplete({
    source: '@Url.Page("Create", "SearchNow")'
    });
    });
    </script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        function ValidateInput() {
            var qty = document.getElementById("qty").value;
            var PId = document.getElementById("ProdInfo").value;

            if (qty == 0) {
               swal("Error!", "Quantity can not be 0", "error");

                return false
            }

        }

    </script>

}
