@page
@model SumerBusinessSolution.Pages.Inventory.WhTypes.Create
@{
    ViewData["Title"] = "CreateWhType";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div>

    <div id="fh5co-main">

        <div class=" fh5co-narrow-content animate-box" data-animate-effect="fadeInLeft">
            <div class="row">
                <div class="col-md-4">
                    <h2>>Add A New WareHouse</h2>
                </div>
            </div>

            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="border backgroundWhite pt-md-3 pl-md-3">


                    <div class="row form-group">
                        <div class="col-md-2">
                            <label asp-for="WhType.Type"></label>
                        </div>
                        <div class="col-md-5">
                            <select WhType="myList" asp-for="WhType.Type">
                                <option value="StoreRoom">StorrRoom</option>
                                <option value="ShowRoom">ShowRoom</option>
                            </select>
                        </div>
                        <span asp-validation-for="WhType.Type" class="text-danger"></span>
                    </div>


                    <div class=" form-group row">
                        <div class="col-md-7 offset-md-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="submit" class="active btn btn-md btn-info form-control" value="Create" />
                                </div>
                                <div class="col-md-6">
                                    <a asp-page="Index" class=" active  btn-mid btn-success form-control text-center text-uppercase">Back to List</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </form>
        </div>



        @section Scripts {
            @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }



    </div>
</div>

