@page
@model SumerBusinessSolution.Pages.Inventory.Transfer.CreateModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



<div>

    <div id="fh5co-main">

        <partial name="_StatusMessage" model="Model.StatusMessage" />

        <div class=" fh5co-narrow-content animate-box" data-animate-effect="fadeInLeft">
            <div class="row">
                <div class="col-md-4">
                    <h2>Transfer Goods</h2>
                </div>
            </div>

            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="border backgroundWhite pt-md-3 pl-md-3">


                    <div class="row form-group">
                        <div class="col-md-2">
                            <label asp-for="ProdCode"> </label>
                        </div>
                        <div class="col-md-5">
                            <input asp-for="ProdCode" class="form-control" />
                        </div>
                        <span asp-validation-for="ProdCode" class="text-danger"></span>
                    </div>


                    <div class="row form-group">
                        <div class="col-md-2">
                            <label asp-for="FromWhId"> </label>
                        </div>
                        <div class="col-md-5">
                            <select asp-for="FromWhId"
                                    asp-items="@(new SelectList(Model.Warehouselist, "Id", "WhName"))"
                                    class="form-control">
                            </select>
                        </div>
                        @*<span asp-validation-for="InvTransfer.FromWarehouse.Id" class="text-danger"></span>*@
                    </div>

                    <div class="row form-group">
                        <div class="col-md-2">
                            <label asp-for="ToWhId"> </label>
                        </div>
                        <div class="col-md-5">
                            <select asp-for="ToWhId"
                                    asp-items="@(new SelectList(Model.Warehouselist, "Id", "WhName"))"
                                    class="form-control">
                            </select>
                        </div>
                        @*<span asp-validation-for="InvTransfer.FromWarehouse.Id" class="text-danger"></span>*@
                    </div>


                    <div class="row form-group">
                        <div class="col-md-2">
                            <label asp-for="Qty"> </label>
                        </div>
                        <div class="col-md-5">
                            <input asp-for="Qty" class="form-control" />
                        </div>
                        <span asp-validation-for="Qty" class="text-danger"></span>
                    </div>


                    <div class="row form-group">
                        <div class="col-md-2">
                            <label asp-for="Note"> </label>
                        </div>
                        <div class="col-md-5">
                            <textarea placeholder="Any notes....." asp-for="Note" class="form-control"></textarea>
                        </div>
                        <span asp-validation-for="Note" class="text-danger"></span>
                    </div>





                    <div class=" form-group row">
                        <div class="col-md-7 offset-md-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <input onclick="return ValidateInput()" type="submit" class="active btn btn-md btn-info form-control" value="Save" />
                                </div>
                                <div class="col-md-6">
                                    <a asp-page="Index" class=" active  btn-mid btn-success form-control text-center text-uppercase">Back to List</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </form>
        </div>




        @*@section Scripts {
            @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

            <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

            <script>
         $(document).ready(function () {
    $('#ProdInfo').autocomplete({
    source: '@Url.Page("Create", "SearchNow")'
    });
    });
            </script>

            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            <script>
                function ValidateInput() {
                    var qty = document.getElementById("qty").value;
                    var fromWh = document.getElementById("FromWhId").value;
                    var toWh = document.getElementById("ToWhId").value;

                    if (qty == 0) {
                        swal("Error!", "Quantity can not be 0", "error");
                        return false
                    }
                    if (fromWh == toWh) {
                        swal("Error!", "Warehouses can not be similar", "error");
                        return false
                    }
                }

            </script>
        }*@



    </div>
</div>
