@page
@model SumerBusinessSolution.SettingsModel
@using Sumer.Utility
@using Microsoft.AspNetCore.Localization
@using System.ComponentModel.DataAnnotations;
@*@inject IHtmlLocalizer<IndexModel> htmlLocalizer*@ @*for html lozcalization*@
@*@inject IStringLocalizer<IndexModel> localizer*@
@*First Method*@
@inject Services.CommonLocalizationService localizer
@*Second and the easier Method*@

@{
    ViewData["Title"] = "Settings";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="row" style="padding-left:320px; padding-right:100px;">
    <div class="column" style="padding-left:80px;">
        <a asp-route-culture="@Request.RouteValues["culture"]" asp-page="Users/Index">
            <img src="~/img/team.png" style="width:120px;height:120px;" />
            <p class="text-center"> @localizer.Get("المستخدمين")</p>

        </a>
    </div>

    <div class="column" style="padding-left:80px;">
        <a asp-route-culture="@Request.RouteValues["culture"]" asp-page="Inventory/Warehouses/Index">
            <img src="~/img/warehouse.png" style="width:120px;height:120px;" />
            <p class="text-center"> @localizer.Get("المخازن")</p>

        </a>
    </div>
</div>