@page
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

            @*<nav id="fh5co-main-menu" role="navigation">
                <ul>
                    <li><a asp-page="/Users/UFunctions">Users</a></li>
                    <li  class="fh5co-active"><a asp-page="">Inventory</a>
                    <ul>
                        <li><button class="btn width310 btn-primary">Transfer Goods</button></li>
                        <li><button class="btn width310 btn-primary">Transfer Goods Request</button></li>
                        <li><button class="btn width310 btn-primary">Add Incoming Goods</button></li>
                    </ul>
                    </li>

                    <li><a asp-page="">Accounts</a></li>
                    <li><a asp-page="">Sales</a></li>
                </ul>
            </nav>*@
<div>

        <div id="fh5co-main">
           
            <div class="fh5co-narrow-content">
                <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Inventory</h2>
                <div class="row">
                    <div class="col-md-6">
                        <a class="btn-group-sm" asp-page="/Products/Index">
                            <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                                <div class="fh5co-icon">
                                    <i class="icon-document"></i>

                                </div>
                                <div class="fh5co-text">
                                    <br />
                                    <h3>Products</h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a class="btn-group-sm" asp-page="">
                            <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                                <div class="fh5co-icon">
                                    <i class="icon-document"></i>

                                </div>
                                <div class="fh5co-text">
                                    <br />
                                    <h3>Incoming Goods</h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a class="btn-group-sm" asp-page="">
                            <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                                <div class="fh5co-icon">
                                    <i class="icon-document"></i>

                                </div>
                                <div class="fh5co-text">
                                    <br />
                                    <h3>Request Transfer Goods</h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a class="btn-group-sm" asp-page="">
                            <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                                <div class="fh5co-icon">
                                    <i class="icon-document"></i>

                                </div>
                                <div class="fh5co-text">
                                    <br />
                                    <h3>Transfer Goods</h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a class="btn-group-sm" asp-page="">
                            <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                                <div class="fh5co-icon">
                                    <i class="icon-document"></i>

                                </div>
                                <div class="fh5co-text">
                                    <br />
                                    <h3>Pending Transfer</h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a class="btn-group-sm" asp-page="">
                            <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                                <div class="fh5co-icon">
                                    <i class="icon-document"></i>

                                </div>
                                <div class="fh5co-text">
                                    <br />
                                    <h3>WareHouses</h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a class="btn-group-sm" asp-page="">
                            <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                                <div class="fh5co-icon">
                                    <i class="icon-document"></i>

                                </div>
                                <div class="fh5co-text">
                                    <br />
                                    <h3>Reports</h3>
                                </div>
                            </div>
                        </a>
                    </div>


                </div>
            </div>





            





        </div>
        
    </div>
